.checkbox {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--light-grey-color);
  transition: all 0.2s ease;
  cursor: pointer;
}

.checkbox:hover {
  border-color: var(--primary);
}

svg {
  z-index: 1;
  top: 8px;
  left: 6px;
  fill: none;
  stroke: var(--on-primary);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
}

.checkbox.active {
  border-color: var(--primary);
  background: var(--primary);
  animation: check 0.6s ease;
}

.checkbox.active svg {
  stroke-dashoffset: 0;
}

@keyframes check {
  50% {
    transform: scale(1.2);
  }
}
